html {
  /* color pallet */
  --white: #ffffff;
  --black: #080808;
  --gray: #c8c8c8;
  --graylight: #dddddd;
  --plugback: #ffffff;
}

html[theme="dark"] {
  --white: #36393f;
  --black: #f8f8f8;
  --gray: #d8d8d8;
  --plugback: #36393f;
}