html {
  --white: #ffffff;
  --black: #080808;
  --gray: #c8c8c8;
  --graylight: #bbbbbb;
  --plugback: #ffffff;
  --switchbackground: #cccccc;
  --switchborder: #333333;
}

html[theme="dark"] {
  --white: #36393f;
  --black: #f8f8f8;
  --gray: #d8d8d8;
  --graylight: #dddddd;
  --plugback: #36393f;
  --switchbackground: #eeeeee;
  --switchborder: #03a9f4;
}
