@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(MaterialIcons-Regular.woff2) format('woff2'),
    url(MaterialIcons-Regular.woff) format('woff'),
    url(MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: local('MaterialSymbolsOutlined'),
    url(MaterialSymbolsOutlined.ttf) format('truetype'),
    url(MaterialSymbolsOutlined.woff2) format('woff2')
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    local('Montserrat'),
    url(Montserrat.ttf) format('truetype');
}

@font-face {
  font-family: 'MavenPro';
  src: local('MavenPro'),
    local('MavenPro'),
    url(Montserrat.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'),
    local('Raleway'),
    url(Raleway.ttf) format('truetype');
}

@font-face {
  font-family: 'KoHo';
  src: local('KoHo'),
    local('KoHo'),
    url(KoHo.ttf) format('truetype');
}

@font-face {
  font-family: 'Livvic';
  src: local('Livvic'),
    local('Livvic'),
    url(Livvic.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}